* {
  font-family: arial, sans-serif;
}

body {
  margin: 0 auto;
  padding: 15px;
  background-image: url(../images/forum2_1x.jpg);
  background-position: center;
  background-repeat: repeat-y;
  background-color: #FFF;
}

h1 {
  margin: 10px;
}

h2 {
  margin: 10px 10px 15px 10px;
}

hr {
  margin: 5px 10px;
}

header, .new_post, #posts {
  background-color: #FFF;
  padding: 10px;
  border: 2px solid #999;
  border-radius: 4px;
  margin-bottom: 15px;
  opacity: 0.85;
}

#message {
  margin: 15px 10px;
  color: Teal;
  font-size: 1.2em;
}

.new_post, #posts {
  font-size: 1em;
  display: block;
}

label, input, textarea, button {
  color: #000;
  font-size: 1em;
  margin: 5px 10px 5px 0;
}

label, input, textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-right: 15px;
}

form div {
  margin: 15px 10px 6px 10px;
}

.entry {
  margin: 0 10px;
  padding: 10px 0;
}

.entry:nth-child(2n+3) {
  background-color: #EEE;
}

.forum_title {
  display: block;
  background-color: #FFF;
  border: 2px solid #999;
  border-radius: 2px;
}

#new_body {
  height: 4em;
}

.title {
  font-size: 1.2em;
  font-weight: 700;
  margin: 4px 10px;
}

.body {
  margin: 4px 10px;
}
