* {
  font-family: sans-serif;
}

body {
  width: 90%;
  margin: 10px auto;
  background-image: url(../images/forum2_1x.jpg);
  background-position: center;
  background-repeat: repeat-y;
  background-color: #FFF;
}

h1 {
  margin: 16px;
}

header {
  background-color: #CCC;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
  opacity: 0.8;
}

input, textarea, button, p{
  color: #000;
  font-size: 1em;
}

label {
  display: block;
  margin-top: 9px;
  margin-left: 6px;
}

.forum_title {
  display: block;
  background-color: #FFF;
  border: 2px solid #999;
  border-radius: 2px;
}

footer {
  background-color: #CCC;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
  opacity: 0.8;
}

.new_title {
  width: 90%;
  margin: 6px;
}

.new_body {
  width: 90%;
  height: 4em;
  margin: 6px;
}

.add_button {
  margin: 6px;
}

.post_form_cont {
  font-size: 1em;
  display: block;
  background-color: #FFF;
  border: 2px solid #999;
  border-radius: 2px;
  padding: 10px;
}

main {
  background-color: #CCC;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
  opacity: 0.8;
}

.title {
  font-size: 1.2em;
  font-weight: 700;
  margin: 16px;
}

.body {
  margin: 16px;
}

.post {
  display: block;
  background-color: #FFF;
  border: 2px solid #999;
  border-radius: 2px;
}
